* {
    margin: 0;
    padding: 0;
}

.text-row{
    /* height: 0px; */
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .12);
    background-color: #fff;
    box-sizing: border-box;  
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    column-gap: 50px;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

#jumia{
    font-size: 25px;
}

button{
    margin-left: 6px;
    margin-right: 6px;

}

.spacebutton{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    font-size: .875rem;
}

.row-1and2{
    background-color: black;
}

.row-1{
    
    background-color: black;
    column-gap: 21.5px;
    display: flex;
    /* margin-top: 20px; */
}

.row-2{
    display: flex;
    column-gap: 35px;
    
}

p{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: red;
}
.grid-4-cols {
    background-color: white;
    margin-top: 5px;
    column-gap: 15px;
    display: flex;
    justify-content: center;
    /* box-shadow: 6px 10px 10px 6px rgb(3, 118, 49); */
    /* border-radius: 100px; */
    box-sizing: border-box;
    width: 50%;
    height: 120%;
    align-items: center;
    justify-items: center;
    padding: 10px;
    /* border-color: aqua; */

}

@media screen and ( max-width: 500px  ) {
    .text-row{ display: flex; justify-content: center;}
    .row-1and2{ display: grid;}
    /* .row-2{display: grid;} */
    img  {   width:  auto; height:auto; }
}


